
<h1>Property Binding or Attribute Binding (One Way Data Binding)</h1>

<h2> TS to HTML</h2>

<p>My state - {{stateName}} and country Name is - {{countryName}}</p>

 <!-- When not equal remove in that case using  allowCountryName = true in TS  -->

 <button [disabled]=!allowCountryName>ADD</button>  5 second after Enabled

 <br>

<!-- Adding img -->

 <img [src]='imgUrl' alt="TeacherImg">    



 <!--  Attribute Binding  -->



 <!--  Class Binding  -->

 <div [class]='isApply'></div>

 <div class='box'></div>

 <!--  Style Binding  -->

 <h1 [style.color]="styApply"> Hallow Word</h1>

 <h1 [style.color]="isTrue ?'red' : 'yellow'"> Hallow Word</h1>
 


 <h1 [style.backgroundColor]="isTrue ?'red' : 'yellow'"> Hallow Word</h1>

 <!-- background-color -->