h1{
    color: coral;
    background-color: burlywood;
    padding: 20px;
}

h2{
    color: rgb(223, 62, 4);
    background-color: rgb(121, 206, 41);
    padding:15px;
}

img{
     width:300px;
}

/* class Binding */

.box{
    width: 500px;
    height: 300px;
    background-color: rgb(198, 21, 116);
}

.border{
    border-radius: 60px;
    border-color: 2px solid red;
}