<div class="page-area mt-1">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/audi1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="rollsRoyce" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/audi2.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="rollsRoyce" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/audi3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="rollsRoyce" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a routerLink="rollsRoyce" (click)="clickOn()" class="btn btn-success">Back</a>
        </div>
    </div>
</div>