
  
  
  <nav class="nav nav-tabs text-bg-secondary p-1">
        <!-- <li class="nav-item"><a class="nav-link color" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="logIn">Log In</a></li> -->
       <li class="nav-item"> <a class="nav-link color" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link color" routerLinkActive="active" routerLink="aboutUs">About Us</a></li>   
           <!-- Router link use two way (without [] & without)  -->
        <li class="nav-item"><a class="nav-link color" routerLinkActive="active" [routerLink]="['/contactUs']">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link color" routerLinkActive="active" [routerLink]="['/cars']">Cars</a></li>
        <li class="nav-item"><a class="nav-link color" routerLinkActive="active" routerLink="404notfound">Information</a></li>
        <li class="nav-item"><a class="nav-link disabled color"   routerLink="other">Other</a></li>
  </nav>
  
    <router-outlet></router-outlet>