<!-- 
<table class="table table-bordered border-primary">
    <thead>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Company</th>
        <th>Employee Sallary</th>
        <th>Employee Location</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of data">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empCompany}}</td>
            <td>{{emp.empSallary}}</td>
            <td>{{emp.empWorkingLocation}}</td>
        </tr>
    </tbody>
</table> -->



<div class="box">

<h3>Employee Details</h3>

<select (change)="allEmploy = employees.value" #employees >
<option selected disabled>Please Select Employee Name</option>
<option  *ngFor="let id of Employee">{{id.empName}}</option>
</select> 

</div>

<app-on-change-child [allEmployeeData]="allEmploy"></app-on-change-child>