
<!-- life Cycle Hooks for ngAfterContentInit  & ngAfterContentChecked -->
<!-- life Cycle Hooks for ngAfterViewInit     &  ngAfterViewChecked -->


<p>From Parent  & Font Color :- {{parentData}} </p>


<p #childData>AngularJS is a discontinued free and open-source JavaScript-based web framework for developing single-page applications. It was maintained mainly by Google and a community of individuals and corporations.</p>

<!-- Content Projection (Passing Of Data Parent Component in between Child Selector)-->
<ng-Content></ng-Content>   