<div class="row col-md-12">
    <div class="row">

              <!-- It Is Custom Directive Using the Shared module & feature module -->
              <p appCustomBG>It Is Custom Directive Using the Shared module & feature module</p>

         <div class="col-md-6" appCustomBG>
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/tv.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TV</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a routerLink="/tv" class="btn btn-primary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/cooler.webp.crdownload" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cooler</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a routerLink="/cooler" class="btn btn-primary">Know more</a>
                    </div>
                </div>
            </div>

    </div>
</div>