<div class="row col-md-12">
    <div class="row">
    </div>
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/refrigitor.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Refrigerators</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a routerLink="/refrigerators" class="btn btn-primary">Know more</a>
            </div>
        </div>
    </div>

<div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src="../../assets/images/cooler.webp.crdownload" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cooler</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a routerLink="/cooler" class="btn btn-primary">Know more</a>
        </div>
    </div>

      <!-- It Is Custom Directive Using the Shared module & feature module -->
      <p appCustomBG>It Is Custom Directive Using the Shared module & feature module</p>
</div>
</div>
