<div class="page-area mt-1">
    <div class="text-center">
        <h2>FOUR-WHEELER</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est illum reiciendis modi expedita</p>
    </div>
    <hr class="mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/rollsRoyce.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rolls-Royce</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="rollsRoyce" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/rangeRover.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Range Rover</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="rangeRove" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/oudi.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="audi" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/fortuner.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fortuner</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="fortuner" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
           <!-- <div class="mt-1"></div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/sachinTendulakar.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sachin Tendulakar</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/klRhul.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">K.L.Rahul</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink="" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/ravindraJadeja.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ravindra Jadeja</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a routerLink=""class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/BhuvneshwarKumar.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bhuvneshwar Kumar</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Know more</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>