<!-- The content below is only a placeholder and can be replaced. 
 <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-server></app-server>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <app-alert></app-alert>

<app-success-alert></app-success-alert> -->

<!-- <appSimple></appSimple>  --> 

<!-- <show-app></show-app> -->

<!-- <app-str-intrpolution></app-str-intrpolution>    -->

 <!-- <app-prop-binding></app-prop-binding>   -->

 <!-- <app-event-binding></app-event-binding>  -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-data-binding-assign></app-data-binding-assign> -->

<!-- <app-binding-practice></app-binding-practice> -->

<!-- <app-binding></app-binding> -->

<!-- <app-diredirectives></app-diredirectives>   -->

<!-- <app-ng-if-directive></app-ng-if-directive> -->

<!-- <app-ng-for-directive></app-ng-for-directive> -->

<!-- <app-ng-switch-directive></app-ng-switch-directive> -->

<!-- <app-structural-directive></app-structural-directive> -->

<!-- <app-ng-style-directive></app-ng-style-directive> -->

<!-- <app-ng-class-directive></app-ng-class-directive> -->

<!-- <app-attribute-directive></app-attribute-directive> -->

<!-- <app-decorator-child></app-decorator-child> -->

<!-- <app-decorator-parent></app-decorator-parent> -->

<!-- <app-output-decorator-child></app-output-decorator-child> -->

<!-- <app-output-decorator-parent></app-output-decorator-parent> -->

<!-- <app-output-practice-child></app-output-practice-child> -->

<app-output-practice-parent></app-output-practice-parent>

<!-- <app-on-changes-hook></app-on-changes-hook> -->

<!-- <app-on-change-hook-parent></app-on-change-hook-parent> -->

<!-- <app-on-change-child></app-on-change-child> -->

<!-- <app-on-change-parent></app-on-change-parent> -->

<!-- <app-add-remove-assign></app-add-remove-assign> -->

<!-- <app-directive-practice></app-directive-practice> -->

<!-- <app-decorator-child-practice></app-decorator-child-practice> -->

<!-- <app-decorator-parent-practice></app-decorator-parent-practice> -->

<router-outlet></router-outlet>
