<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)" >
                <option value="Default">Select Product</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="TV">TV</option>
                <option value="WashingMachine">WashingMachine</option>
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>Please select product</h2>
            <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
            <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
            <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
            <h2 class="text-success" *ngSwitchCase="'WashingMachine'">WashingMachine</h2>

        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)">
                <option value="Default">Select Bike</option>
                <option value="Pulsar">Pulsar</option>
                <option value="KTM">KTM</option>
                <option value="Royal Enfield">Royal Enfield</option>
                <option value="Hardy Devison">Hardy Devison</option>
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>Please select Bike</h2>
            <h2 class="text-success" *ngSwitchCase="'Pulsar'">Pulsar</h2>
            <h2 class="text-success" *ngSwitchCase="'KTM'">KTM</h2>
            <h2 class="text-success" *ngSwitchCase="'Royal Enfield'">Royal Enfield</h2>
            <h2 class="text-success" *ngSwitchCase="'Hardy Devison'">Hardy Devison</h2>

        </div>
    </div>
</div>


<br><br><hr>
<!-- practice = 2 (ngSwitch) -->

<div class="btn-group dropup">
    <select (change)="getValue($event)">
        <option value="default">--Select--</option>
        <option value="One">One</option>
        <option value="Two">Two</option>
        <option value="Three">Three</option>
        <option value="Five">Five</option>
    </select>
</div>
<div [ngSwitch]="allValues">
    <h4 class="text-success" *ngSwitchDefault>Default</h4>
    <h4 class="text-success" *ngSwitchCase="'One'">One</h4>
    <h4 class="text-success" *ngSwitchCase="'Two'">Two</h4>
    <h4 class="text-success" *ngSwitchCase="'Three'">Three</h4>
    <h4 class="text-success" *ngSwitchCase="'Five'">Five</h4>
</div>

<h1><mark>{{allValues}}</mark></h1>