<div class="main">
    <div class="head">
        <h4>Add & Remove Assignment</h4>
    </div>
    <div class="allData">
        <input [(ngModel)]="mobileName" #enter placeholder="Enter favorite Mobile name...">
    </div>
    <div class="butt">
        <button class="btn btn-success" (click)="addData(enter.value)">Add Mobile Name</button>
        <br><br>
        <button class="btn btn-warning" (click)="clearMe()" >Clear</button>

    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Mobile Names</th>
                <th>Remove Product</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mobile of data ; let i=index">
                <td>{{i+1}}</td>
                <td>{{mobile.mobileName}}</td>
                <td><button (click)="removeMobile(value)" class="btn btn-danger">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>