<ul *ngFor="let data of cricketData  wid">
    <div class="card border-info mb-3" style="width: 326px;">
        <div class="card-header text-center font">{{1}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6 class="card-title">  {{data.result.songs[0].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[0].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[0].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[0].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[0].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[0].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul>


<ul *ngFor="let data of cricketData wid">
    <div class="card border-info mb-3" style="width: 326px;">
        <div class="card-header text-center font">{{2}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6 class="card-title">  {{data.result.songs[1].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[1].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[1].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[1].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[1].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[1].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul>


<ul *ngFor="let data of cricketData wid">
    <div class="card border-info mb-3" style="width: 326px;">
        <div class="card-header text-center font">{{3}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6 class="card-title">  {{data.result.songs[2].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[2].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[2].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[2].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[2].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[2].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul>



<ul *ngFor="let data of cricketData wid">
    <div class="card border-info mb-3" style="width: 323px;">
        <div class="card-header text-center font">{{4}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6 class="card-title">  {{data.result.songs[3].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[3].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[3].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[3].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[3].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[3].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul>

<ul *ngFor="let data of cricketData wid">
    <div class="card border-info mb-3" style="width: 323px;">
        <div class="card-header text-center font">{{5}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6 class="card-title">  {{data.result.songs[4].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[4].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[4].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[4].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[4].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[4].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul>

<!-- <ul *ngFor="let data of cricketData ">
    <div class="card border-info mb-3" style="max-width: 26rem;">
        <div class="card-header text-center font">{{6}}</div>
        <div class="card-body text-info text-center">
            <h5>Album Id</h5>
            <h6> class="card-title"> {{data.result.songs[5].album.album_id}}</h6>
            <h5>Name</h5>
            <h6 class="card-title"> {{data.result.songs[5].album.name}}</h6>
            <h5>ID</h5>
            <h6 class="card-title"> {{data.result.songs[5].id}}</h6>
            <h5>Title</h5>
            <h6 class="card-title">{{data.result.songs[5].title}}</h6>
            <h5>Name</h5>
            <h6 class="card-title">{{data.result.songs[5].name}}</h6>
            <h5>Duration </h5>
            <h6 class="card-title"> {{data.result.songs[5].duration}}</h6>
            <h5>Thumbnails</h5>
            <img src="{{data.result.songs[0].thumbnail}}" alt="">
        </div>
    </div>
</ul> -->