.title{
    margin-top: 10px;
    color: rgb(76, 6, 238);
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    border: 1px solid red;
    background-color: rgb(181, 228, 13);
    display: inline-block;
    width: 400px;
    margin-left: 500px;
    text-align: center;

}

.table{
    border-collapse:  separate;
    text-align: center;
    font-size: large;
    color: darkorange;
    display: inline-block;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    
}

