<!-- <div>
    <div>
        {{title}}
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Cast</th>
                <th>ReleaseDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.cast}}</td>
                <td>{{movie.releaseDate}}</td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- Student Data -->

<!-- <div>
    <div>
        {{infoStudent}}
    </div>
    <div>
        <table class="table">
                    <thead>
                        <tr>
                          <th>Student Id</th>
                          <th>Student Name</th>
                          <th>Student class</th>
                          <th>Student Mark</th>
                          <th>Student Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let info of student">
                            <td>{{info.studentId}}</td>
                            <td>{{info.studentName}}</td>
                            <td>{{info.studentClass}}</td>
                            <td>{{info.studentMarks}}</td>
                            <td>{{info.studentResult}}</td>
                        </tr>
                    </tbody>
        </table>

    </div>
</div> -->

<!-- course data -->

<!-- Student Data -->
<div class="box">
    <div>
        <div class="title">
            {{courseTitle}}
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Course Fee</th>
                        <th>Student Intake</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let allCourse of course">
                        <td>{{allCourse.courseName}}</td>
                        <td>{{allCourse.courseFee}}</td>
                        <td>{{allCourse.studentIntake}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>