
<div class="conatainer">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form #regForm="ngForm" (ngSubmit)="register(regForm)">
                <h2> Register Form </h2>
                <br>
                <div class="form-group col-md-5">
                    <label>First Name</label>
                    <input class="form-control" type="text" placeholder=" First Name" name="first Name"
                       required ngModel #fname="ngModel"><span *ngIf="fname.touched && !fname.valid">Please Enter your Name</span>
                </div>

                <div class="form-group col-md-5">
                    <label>Last Name</label>
                    <input class="form-control" type="text" placeholder=" First Name" name="last Name"
                    required  ngModel #lname="ngModel"><span *ngIf="lname.touched && !lname.valid">Please Enter your last name</span>
                </div>

                <div class="form-group col-md-5">
                    <label>Email ID</label>
                    <input class="form-control" type="text" email placeholder="Email ID" name="email Address"
                    required  ngModel #email="ngModel"> 
                    <span *ngIf="email.touched && !email.valid">Please enter Valid email ID </span> 
                </div>
                <br>
                <div class="align-center">
                    <button type="submit" class="btn btn-primary" id="register" [disabled]="!regForm.valid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
